<%- include("./../partials/header.ejs") %>
<body>
    <%- include("./../partials/navbar.ejs") %>
    <div class="bgimg">
        <div class="middle">
          <h1><b><strong>COMING SOON</strong></b></h1>
          <hr>
          <p>start your countdown</p>
        </div>
      </div>


</body>


<%- include("./../partials/footer.ejs") %>