<%- include("./../partials/header.ejs") %>

    <body>
        <%- include("./../partials/navbar.ejs") %>
            <div class="center">
                <h1>Pick the type of video</h1>
                <div class="links">
                    <a href="https://www.youtube.com/playlist?list=PLq-x8n4nrcUZMS6BFZA5e9KrJZCwgZSTX"><button>Coding</button></a>
                    <a href="https://youtube.com/playlist?list=PLq-x8n4nrcUaT_5I_fpoazTiqGQKrYx9k"><button>Maths</button></a>
                    <a href="https://youtube.com/playlist?list=PLpyc33gOcbVADMKqylI__O_O_RMeHTyNK"><button>Logic</button></a>
                </div>
            </div>
            
    </body>

    <%- include("./../partials/footer.ejs") %>